extends ../shared/template
block content
  h2 Home
  .panel.panel-default
    .panel-body
      h4 This is a treasure map! Enjoy!
      p Zombie ipsum brains reversus ab cerebellum viral inferno, brein nam rick mend grimes malum cerveau cerebro. De carne cerebro lumbering animata cervello corpora quaeritis. Summus thalamus brains sit​​, morbo basal ganglia vel maleficia? De braaaiiiins apocalypsi gorger omero prefrontal cortex undead survivor fornix dictum mauris. Hi brains mindless mortuis limbic cortex soulless creaturas optic nerve, imo evil braaiinns stalking monstra hypothalamus adventus resi hippocampus dentevil vultus brain comedat cerebella pitiutary gland viventium. Qui optic gland animated corpse, brains cricket bat substantia nigra max brucks spinal cord terribilem incessu brains zomby. The medulla voodoo sacerdos locus coeruleus flesh eater, lateral geniculate nucleus suscitat mortuos braaaains comedere carnem superior colliculus virus. Zonbi cerebellum tattered for brein solum oculi cerveau eorum defunctis cerebro go lum cerebro. Nescio brains an Undead cervello zombies. Sicut thalamus malus putrid brains voodoo horror. Nigh basal ganglia tofth eliv ingdead.

      ul
        li: a(href='http://bootswatch.com/', target='_blank') http://bootswatch.com/
        li: a(href='http://bootstrapzero.com/', target='_blank') http://bootstrapzero.com/
        li: a(href='http://startbootstrap.com/', target='_blank') http://startbootstrap.com/
        li: a(href='http://www.prepbootstrap.com/', target='_blank') http://www.prepbootstrap.com/
        li: a(href='http://www.blacktie.co/', target='_blank') http://www.blacktie.co/
        li: a(href='https://bootstrapmaster.com/', target='_blank') https://bootstrapmaster.com/
        li: a(href='http://bootstrapstyler.com/', target='_blank') http://bootstrapstyler.com/

block scripts
  script(src='/js/user/home.js')

