extends ../shared/template
block content
  h2 Treasures
  .container
    .row
      .col-xs-12
        #map
    .row
      .col-xs-12
        table.table.table-striped
          thead
            th Name
            th Location
            th Difficulty
            th Found
          tbody
            each treasure in treasures
              tr
                td= treasure.tName
                td= treasure.loc.name
                td= treasure.difficulty
                
block scripts
  script(src='/js/user/treasures.js')

