extends ../shared/template
block content
  h2 Show Page
  .row
    .col-xs-4
      #map
    .col-xs-8
  .row
    .col-xs-12
      #treasure(data-name=treasure.loc.name, data-lat=treasure.loc.lat, data-lng=treasure.loc.lng)
      .col-xs-6
        #photo
      .col-xs-6
        #hint
         // p #{treasure.hint}


block scripts
  script(src='/js/user/treasure.js')

